.main {
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2";
}

.header {
  background-color: #ffc7c2;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #fff7f8;
  vertical-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.navButton {
  margin: 5px 30px;
  background: none;
  border: none;
  padding: 0;
  color: black;
  font-size: 30px;
  font-family: "Baloo Bhaijaan 2";
}

.candyStripe ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fdfd96;
}

.stripe {
  height: 0.5rem;
  width: 100%;
  margin: 0;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: #ffc7c2;

  @media {
    (min-width:900px)height: 1.5rem;
  }

  /* nth-child: (even) {
    background: #ebb9bb;
    width: 150%;
  } */
}

.app {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 100%;
  width: 100%;
  background-color: #fff7f8;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.displayCard {
  background-color: #ffc7c2;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  /* max-width: 400px; */
  margin: 20px;
  /* position: relative;
  overflow: hidden; */
}

.cardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: center;
}

/* .displayCard:before {
  content: "";
  display: block;
  top: -50px;
  left: -50px;
  /* background-color: #ffc300; */
/* width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: rotate(45deg);
  z-index: -1;
} */
.cardTitle {
  color: black;
  font-size: 1.7em;
  /* margin-top: 0; */
  font-weight: 700;
}

.cardText {
  padding: 5px;
  color: black;
  /* width: 80%; */
  text-align: center;
  font-size: 17px;
}

.footer {
  background-color: #ffc7c2;
  display: flex;
  vertical-align: center;
  justify-content: center;
  height: 50px;
  color: black;
}

.footerText {
  align-self: center;
  font-size: 15px;
}
