.main {
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2";
}

.header {
  background-color: #ffc7c2;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #fff7f8;
  vertical-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.navButton {
  margin: 5px 30px;
  background: none;
  border: none;
  padding: 0;
  color: black;
  font-size: 30px;
  font-family: "Baloo Bhaijaan 2";
}

.candyStripe ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fdfd96;
}

.stripe {
  height: 0.5rem;
  width: 100%;
  margin: 0;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: #ffc7c2;

  @media {
    (min-width:900px)height: 1.5rem;
  }
}

.app {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 100%;
  width: 100%;
  background-color: #fff7f8;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.displayCard {
  background-color: #ffc7c2;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  margin: 20px;
}

/* .displayCard:hover {
  background-color: #ff8176;
} */

.cardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: center;
}

.cardTitle {
  color: black;
  font-size: 1.7em;
  font-weight: 700;
}

.cardText {
  padding: 5px;
  color: black;
  text-align: center;
  font-size: 17px;
}

.footer {
  background-color: #ffc7c2;
  display: flex;
  justify-content: center;
  height: 50px;
  color: black;
  width: 100%;
}

.footerText {
  align-self: center;
  font-size: 15px;
}

.homeFeed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "0 1 2"
    "3 4 5";
}

.homeImage {
}
